<h1>Listing pull_requests</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Source repository</th>
    <th>Target repository</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pull_requests.each do |pull_request| %>
  <tr>
    <td><%= pull_request.content %></td>
    <td><%= pull_request.source_repository_id %></td>
    <td><%= pull_request.target_repository_id %></td>
    <td><%= pull_request.user_id %></td>
    <td><%= pull_request.created_at %></td>
    <td><%= link_to 'Show', pull_request %></td>
    <td><%= link_to 'Edit', edit_pull_request_path(pull_request) %></td>
    <td><%= link_to 'Destroy', pull_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pull request', new_pull_request_path %>
