<p id="notice"><%= notice %></p>

<p>
  <b>Repository:</b>
  <%= @issue.repository_id %>
</p>

<p>
  <b>User:</b>
  <%= @issue.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status_id %>
</p>

<p>
  <b>Content:</b>
  <%= @issue.content %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
