<h1>Listing pull_commits</h1>

<table>
  <tr>
    <th>Pull request</th>
    <th>Start commit</th>
    <th>End commit</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pull_commits.each do |pull_commit| %>
  <tr>
    <td><%= pull_commit.pull_request_id %></td>
    <td><%= pull_commit.start_commit_id %></td>
    <td><%= pull_commit.end_commit_id %></td>
    <td><%= pull_commit.user_id %></td>
    <td><%= pull_commit.created_at %></td>
    <td><%= link_to 'Show', pull_commit %></td>
    <td><%= link_to 'Edit', edit_pull_commit_path(pull_commit) %></td>
    <td><%= link_to 'Destroy', pull_commit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pull commit', new_pull_commit_path %>
