<p id="notice"><%= notice %></p>

<p>
  <b>Pull request:</b>
  <%= @pull_commit.pull_request_id %>
</p>

<p>
  <b>Start commit:</b>
  <%= @pull_commit.start_commit_id %>
</p>

<p>
  <b>End commit:</b>
  <%= @pull_commit.end_commit_id %>
</p>

<p>
  <b>User:</b>
  <%= @pull_commit.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @pull_commit.created_at %>
</p>


<%= link_to 'Edit', edit_pull_commit_path(@pull_commit) %> |
<%= link_to 'Back', pull_commits_path %>
