<h1>Listing watchings</h1>

<table>
  <tr>
    <th>Repository</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @watchings.each do |watching| %>
  <tr>
    <td><%= watching.repository_id %></td>
    <td><%= watching.user_id %></td>
    <td><%= link_to 'Show', watching %></td>
    <td><%= link_to 'Edit', edit_watching_path(watching) %></td>
    <td><%= link_to 'Destroy', watching, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Watching', new_watching_path %>
