<p id="notice"><%= notice %></p>

<p>
  <b>Repository:</b>
  <%= @watching.repository_id %>
</p>

<p>
  <b>User:</b>
  <%= @watching.user_id %>
</p>


<%= link_to 'Edit', edit_watching_path(@watching) %> |
<%= link_to 'Back', watchings_path %>
