<h1>Listing issue_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue_statuses.each do |issue_status| %>
  <tr>
    <td><%= issue_status.name %></td>
    <td><%= link_to 'Show', issue_status %></td>
    <td><%= link_to 'Edit', edit_issue_status_path(issue_status) %></td>
    <td><%= link_to 'Destroy', issue_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue status', new_issue_status_path %>
