<%= form_for(@commit_note) do |f| %>
  <% if @commit_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commit_note.errors.count, "error") %> prohibited this commit_note from being saved:</h2>

      <ul>
      <% @commit_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
